<section class="sing-up">
    <div class="sing-up__box">
        <p class="sing-up__text">Sign up to receive daily manually selected recipes, delicious weekly articles, 3-piece sets of slow cooker, vegetarian, and lunch ideas, plus Quick&Easy recipes and Nutrition Value flashcards via email.</p>
        <form class="form">
            <input type="email" class="form__input" placeholder="Enter your email">
            <button class="form__btn">sing up</button>
            <span class="form__privacy-policy">By signing up I agree to the terms of the <a class="privacy-policy__link" href="#" target="_blank">Privacy Policy</a></span>
        </form>
    </div>
    <span class="copyright">© 2014–2018 TastyCookery.com</span>
</section>