<section class="link-article-list">
    <div class="link-article-list__list">
        <a class="link-article-list__item" href="#">
            <img class="link-article-list__img" src="./images/link-article-list/1.svg" alt="logo" width="108" height="80">
            <p class="link-article-list__title">Простые домашние<br>рецепты</p>
        </a>
        <a class="link-article-list__item" href="#">
            <img class="link-article-list__img" src="./images/link-article-list/2.svg" alt="logo" width="108" height="80">
            <p class="link-article-list__title">Статьи о готовке</p>
        </a>
        <a class="link-article-list__item" href="#">
            <img class="link-article-list__img" src="./images/link-article-list/3.svg" alt="logo" width="101" height="80">
            <p class="link-article-list__title">Бесплатная книга рецептов<br>всем подписчикам</p>
        </a>
        <a class="link-article-list__item" href="#">
            <img class="link-article-list__img" src="./images/link-article-list/4.svg" alt="logo" width="98" height="80">
            <p class="link-article-list__title">Собирайте рецепты<br>в recipe box</p>
        </a>
        <a class="link-article-list__item" href="#">
            <img class="link-article-list__img" src="./images/link-article-list/5.svg" alt="logo" width="95" height="80">
            <p class="link-article-list__title">Печать рецептов</p>
        </a>
    </div>
</section>