html, body {
    width: 100%;
}

h1, h2, h3, h4, h5, h6, a, p, span, label, input, button {
    font-family: 'Circe';
}

h1 {}

h2 {
    font-size: 40px;
    @media (max-width:767px) {
        font-size:30px;
    }
}

h3 {}

h4 {}

h5 {}

p {
}

a {
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    outline: 0;
    cursor: pointer;
}

input {
    padding: 0;
    border: none;
    outline: none;
}

.pg-wrapper {
    max-width: 1440px;
    width: 100%;
    margin: {
        right: auto;
        left: auto;
    };
}