<section class="benefits">
    <h2 class="benefits__title">Почему круто быть с нами:</h2>
    <div class="benefits__list">
        <div class="benefits__item">
            <div class="benefits__picture">
                <img class="benefits__img" src="./images/benefits/1.png" alt="picture" width="338" height="341">
            </div>
            <p class="benefits__text">Получать лучшие рецепты по разным категориям</p>
        </div>
        <div class="benefits__item">
            <div class="benefits__picture">
                <img class="benefits__img" src="./images/benefits/2.png" alt="picture" width="400" height="338">
            </div>
            <p class="benefits__text">Готовить без лишних усилий и делать из каждого дня<br>не рутинный</p>
        </div>
        <div class="benefits__item">
            <div class="benefits__picture">
                <img class="benefits__img" src="./images/benefits/3.png" alt="picture" width="337" height="363">
            </div>
            <p class="benefits__text">Довольные<br>члены семьи</p>
        </div>
    </div>
</section>